* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;    
    background-color: #ca4af1;
    font-weight: bold;
}

.emBreve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}

.emBreve h1{
    font-size: 2em;
    color: #fff;
   
}

.emBreve h1::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border: 0.5px solid #000000;
    background-color: #fff;
    border-radius: 5px;
    animation: h1after 60s infinite;
}

@keyframes h1after{
    0%{
        width: 0%;
        background-color: red;
    }
    50%{
        width: 50%;
        background-color: yellow;
    }
    100%{
        width: 100%;
        background-color: green;
    }
}