*{
    margin: 0;
    padding: 0;
}

body {
    color: rgba(var(--i1d, 38, 38, 38), 1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

main{
    display: flex;
    background-color: rgba(var(--b3f,250,250,250),1);
    flex-grow: 1;
}

.article-container {
    display: flex;
    margin: 32px auto 0;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    max-width: 935px;
    padding-bottom: 32px;
    
}

.article-container .phone{
    display: flex;
    align-self: center;
    flex-basis: 380px;
    height: 581px;
    width: 100%;
    max-width: 460px;
    margin-bottom: 12px;
    margin-right: 32px;
}

.article-container .phone img {
    width: 100%;
    min-width: 580px;
}

.menu{
    display: flex;
    flex-direction: column;
    color: rgba(var(--i1d,38,38,38),1);
    justify-content: center;
    margin: 12px;
    max-width: 350px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(var(--d87,255,255,255),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

.login .logoInsta{
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 12px;
}

.login .logoInsta img {
    width: 100%;
    height: 100%;
    max-width: 175px;
    object-fit: contain;
}

.login .container-login {
    margin-bottom: 10px;
    max-width: 350px;
    width: 100%;
}

.loginForm{
    display: flex;
    flex-direction: column;
}

.loginForm .container-login-button .loginButton {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;

    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 5px;
    font-size: 16px;
    background-color: #0095f6;
    color: #fff;
}

.loginForm input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.container-login .login-or {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container-login .login-or button {
    border: none;
    color: #385185;
    font-size: 16px;
    font: inherit;
    background-color: #fff;
    cursor: pointer;

    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.login-or p::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
}

.login-or p::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
}

.criarConta {
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    text-align: center;
    margin-top: 20px;
}

.apps {
    text-align: center;
    margin-top: 20px;
}

.apps img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 130px;
}

@media(max-width: 768px) {
    .article-container .phone img {
        display: none;
    }
}